@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap");

@font-face {
  font-family: "Impact";
  src: url("./impact-font/impact.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #ffecec;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Impact"; */
  user-select: none;
  color: #ffecec;
}
.meme-logo {
  height: 90px;
}
.app-container {
  max-width: 400px;
  height: auto;
  background-color: #ff78c4;
  margin: 30px auto;
  border-radius: 35px;
  overflow: hidden;
  border-radius: 15px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffbdf7;
  padding: 6px 33px;
  width: 100%;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Impact";
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000000;
}
.input-field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 18px 0px;
  font-weight: bold;
}

input {
  padding: 9px;
  font-size: 15px;
  margin: 5px 2px;
  color: black;
  width: 180px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  border-radius: 9px;
}
::placeholder {
  color: black;
}
input:focus {
  outline: 2px solid #ffbdf7;
  color: black;
}
.generateBTN {
  margin: 1px auto;
  padding: 9px;
  background-color: #e1aeff;
  color: black;
  font-weight: bold;
  margin-left: 30%;
  border-radius: 9px;
}
.generateBTN:active {
  background-color: #e1aeff;
}
.meme-image {
  margin: 21px auto;
}
.imageMeme {
  max-width: 350px;
  height: auto;
  margin: 12px 10px 20px 25px;
  border-radius: 9px;
  border: 2px solid white;
}
.first {
  position: absolute;
  top: 30rem;
  /* right: 5px; */
  padding-left: 50px;
  color: black;
  font-family: "Impact";
}

.second {
  position: absolute;
  top: 40rem;
  /* right: 5px; */
  padding-left: 50px;
  color: black;
  font-family: "Impact";
}

.placeholder-paragraph {
  color: #ff78c4;
}
